.header {
    max-width: 60rem;
    margin: auto;
    padding: 2rem;
    display: flex;
    justify-content: center;
    background: blue;
    max-width: 100% ;
  }
  
  .header ul {
    height: 100%;
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: space-between;
  }
  
  .header li {
    margin: 0 1rem;
    width: 5rem;
  }

  .header a{
    color:lightblue;
  }
  
  .header a:hover,
  .header a:active,
  .header a.active {
    color: lightblue;
    padding-bottom: 0.25rem;
    border-bottom: 4px solid lightblue;
  }